ipykernel
langchain
langgraph
python-dotenv
langchain-community
langchain-openai
langchain-huggingface
azure-search-documents
azure-identity
tiktoken
chromadb
beautifulsoup4
sentence-transformers
ipywidgets