ipykernel==6.29.5
langchain==0.3.17
langgraph==0.2.68
python-dotenv==1.0.1
langchain-community==0.3.16
langchain-openai==0.3.3
langchain-huggingface==0.1.2
tiktoken==0.8.0
chromadb==0.6.3
beautifulsoup4==4.12.3
sentence-transformers==3.4.1
ipywidgets==8.1.5
langchain-chroma==0.2.1